extends navbar

block navbar
  .principal-card.make-it-flex
    .card.text-center
      .card-header
        | Frontal
      .card-block
        h4.col-xs-12.col-sm-4.flex-item-1 NARRATIVA DE LA HISTORIA
        input(name='history').col-xs-12.col-sm-4.flex-item-3
        p.col-xs-12.col-sm-4.flex-item-5 Prioridad ________
        br
        br
        br
        h4.col-xs-12.col-sm-4.flex-item-2 Como
        input(name='how').col-xs-12.col-sm-4.flex-item-4
        p.col-xs-12.col-sm-4.flex-item-6 tamaño ________
        br
        br
        br
      .card-footer.text-muted
