extends layout

block content
  header#top.header
    .text-vertical-center
      h1 Scrum Master
      h3 Free Bootstrap Themes & Templates
      br
      abtn.btn-lg.btn-success(href='#about') Create New Project
