extends navbar

block navbar
  h1.page-header Profile
  // /.col-lg-12
  // /.row
  .row
  .col-lg-12
  .panel.panel-default
    .panel-heading
      | Proyect description
    // /.panel-heading
    .panel-body
      #dataTables-example_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
        .row
          .col-lg-12
            .col-xs-12.col-sm-4
              figure
                img.img-responsive(alt='', src='http://placehold.it/300x300')
              .row
                .col-xs-12.social-btns
                  .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                    a.btn.btn-social.btn-block.btn-google(href='#')
                      i.fa.fa-google
                  .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                    a.btn.btn-social.btn-block.btn-facebook(href='#')
                      i.fa.fa-facebook
                  .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                    a.btn.btn-social.btn-block.btn-twitter(href='#')
                      i.fa.fa-twitter
                  .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                    a.btn.btn-social.btn-block.btn-linkedin(href='#')
                      i.fa.fa-linkedin
                  .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                    a.btn.btn-social.btn-block.btn-github(href='#')
                      i.fa.fa-github
                  .col-xs-3.col-md-1.col-lg-1.social-btn-holder
                    a.btn.btn-social.btn-block.btn-stackoverflow(href='#')
                      i.fa.fa-stack-overflow
            .col-xs-12.col-sm-8
              ul.list-group
                li.list-group-item John Doe
                li.list-group-item Software Engineer
                li.list-group-item Google Inc.
                li.list-group-item
                  i.fa.fa-phone
                  |  000-000-0000
                li.list-group-item
                  i.fa.fa-envelope
                  |  john@example.com
      .bs-callout.bs-callout-danger
        h4 Summary
        p
          | Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,
          | te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
        p
          | Odio recteque expetenda eum ea, cu atqui maiestatis cum. Te eum nibh laoreet, case nostrud nusquam an vis.
          | Clita debitis apeirian et sit, integre iudicabit elaboraret duo ex. Nihil causae adipisci id eos.
      .bs-callout.bs-callout-danger
        h4 Research Interests
        p
          | Software Engineering, Machine Learning, Image Processing,
          | Computer Vision, Artificial Neural Networks, Data Science,
          | Evolutionary Algorithms.
      .bs-callout.bs-callout-danger
        h4 Prior Experiences
        ul.list-group
          a.list-group-item.inactive-link(href='#')
            h4.list-group-item-heading
              | Software Engineer at Twitter
            p.list-group-item-text
              | Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,
              | te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
          a.list-group-item.inactive-link(href='#')
            h4.list-group-item-heading Software Engineer at LinkedIn
            p.list-group-item-text
              | Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur.
              | Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
              | nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
            ul
              li
                | Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur.
                | Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
                | nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
              li
                | Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur.
                | Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
                | nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
            p
      .bs-callout.bs-callout-danger
        h4 Key Expertise
        ul.list-group
          li.list-group-item  Lorem ipsum dolor sit amet, ea vel prima adhuc
          li.list-group-item  Lorem ipsum dolor sit amet, ea vel prima adhuc
          li.list-group-item  Lorem ipsum dolor sit amet, ea vel prima adhuc
          li.list-group-item  Lorem ipsum dolor sit amet, ea vel prima adhuc
          li.list-group-item Lorem ipsum dolor sit amet, ea vel prima adhuc
          li.list-group-item  Lorem ipsum dolor sit amet, ea vel prima adhuc
      .bs-callout.bs-callout-danger
        h4 Language and Platform Skills
        ul.list-group
          a.list-group-item.inactive-link(href='#')
            .progress
              .progress-bar.progress-bar-success(data-placement='top', style='width: 80%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='80', role='progressbar')
                span.sr-only 80%
                span.progress-type Java/ JavaEE/ Spring Framework
            .progress
              .progress-bar.progress-bar-success(data-placement='top', style='width: 70%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='1', role='progressbar')
                span.sr-only 70%
                span.progress-type PHP/ Lamp Stack
            .progress
              .progress-bar.progress-bar-success(data-placement='top', style='width: 70%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='1', role='progressbar')
                span.sr-only 70%
                span.progress-type JavaScript/ NodeJS/ MEAN stack
            .progress
              .progress-bar.progress-bar-warning(data-placement='top', style='width: 65%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='1', role='progressbar')
                span.sr-only 65%
                span.progress-type Python/ Numpy/ Scipy
            .progress
              .progress-bar.progress-bar-warning(data-placement='top', style='width: 60%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='60', role='progressbar')
                span.sr-only 60%
                span.progress-type C
            .progress
              .progress-bar.progress-bar-warning(data-placement='top', style='width: 50%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='50', role='progressbar')
                span.sr-only 50%
                span.progress-type C++
            .progress
              .progress-bar.progress-bar-danger(data-placement='top', style='width: 10%;', aria-valuemax='100', aria-valuemin='0', aria-valuenow='50', role='progressbar')
                span.sr-only 10%
                span.progress-type Go
            .progress-meter
              .meter.meter-left(style='width: 25%;')
                span.meter-text I suck
              .meter.meter-left(style='width: 25%;')
                span.meter-text I know little
              .meter.meter-right(style='width: 30%;')
                span.meter-text I'm a guru
              .meter.meter-right(style='width: 20%;')
                span.meter-text I''m good
      .bs-callout.bs-callout-danger
        h4 Education
        table.table.table-striped.table-responsive
          thead
            tr
              th Degree
              th Graduation Year
              th CGPA
          tbody
            tr
              td Masters in Computer Science and Engineering
              td 2014
              td  3.50
            tr
              td BSc. in Computer Science and Engineering
              td 2011
              td  3.25
    // resume
