<<<<<<< HEAD
extends ../layout

block content
  .container
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            img( class='logo-login',src='/images/logo.png')
            h3.panel-title Por favor ingresa todos tus datos
          .panel-body
            form(role='form')
              fieldset
                .form-group
                  input.form-control(placeholder='Nombre completo', name='Name', type='text', autofocus='')
                .form-group
                  input.form-control(placeholder='Fecha de nacimiento', name='birthDate', type='date')
                .form-group
                  input.form-control(placeholder='CURP', name='curp', type='text')
                .form-group
                  input.form-control(placeholder='RFC', name='rfc', type='text')
                .form-group
                  input.form-control(placeholder='Domicilio', name='address', type='text')
                .form-group
                  input.form-control(placeholder='E-mail', name='email', type='email')
                .form-group
                  input.form-control(placeholder='Password', name='password', type='password', value='')
                .form-group
                  input.form-control(placeholder='Confirmar password', name='password', type='password', value='')
                // Change this to a button or input when using this as a form
                a.btn.btn-lg.btn-success.btn-block(href='index.html') Login
=======
>>>>>>> 0a5e612dd4e83c20f4a0cd3bc914751730dc5036
