extends ../navbar

block navbar
  h1.page-header Edit profile
  // /.col-lg-12
  // /.row
  .row
  .col-lg-12
  .panel.panel-default
    .panel-heading
      | Datos de usuario
    // /.panel-heading
    .panel-body
      form(role='form', name='edit-user', id='form-edit-user', method='POST', action=`/users/${user.id}?_method=PUT`)
        fieldset
          .form-group
            input.form-control(placeholder='E-mail', name='email', type='email', value=`${user.local.email}`)
          .form-group
            input.form-control(placeholder='Password', name='password', type='password', value='')
          .form-group
            input.form-control(placeholder='Confirmar password', name='confirmarPassword', type='password', value='')
          include form.pug
            div.form-group(ng-controller='CtrlSkills')
              form()
                input(type='text', placeholder='Ingresa una habilidad', ng-model='skillDescription')
                select(ng-model='rankingSelected', ng-options='ranking as ranking.value for ranking in rankings')
                input(type='button', ng-click='addSkill()', value='Agregar')
                ul()
                  li(ng-repeat='skill in skills') {{skill.description}} - {{skill.ranking}}
                    input(data-ng-click='removeSkill($index)', value='Eliminar')
