extends ../layout

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        //.panel.panel-default
        .panel-heading
          img( class='logo-login',src='/images/logo.png')
          h3.panel-title Por favor ingresa todos tus datos
        .panel-body
          include form.pug
