extends ../layout

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        //.panel.panel-default
        .panel-heading
          img( class='logo-login',src='/images/logo.png')
          h3.panel-title Por favor ingresa todos tus datos
        .panel-body
          form(role='form', name='add-user', id='form-add-user', method='POST', action='/users/')
            include form.pug
